.container
  .row
    .jumbotron.flex-fill.text-center
      %h1.display-4.mb-5 Welcome to Alpha Blog
      %a.btn.btn-primary.btn-lg{ href: 'javascript:void(0)',  role: 'button'} Sign Up Now

= link_to 'Articles', articles_path
|
= link_to 'About', about_path
